{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{#socialaccount %}#}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="login-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="forgot-password">
                        <h2 class="fp-title">{% trans "Sign In" %}</h2>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-xs-12">
                                <div class="login-content">
                                    <form method="POST" action="{% url 'account_login' %}">
                                        {% csrf_token %}
                                        <div class="lc-user">
                                            <label>Логин<i class="fa fa-user"></i></label>
                                            <input type="text" placeholder="Почта или логин" name="login" id="login" value="{{ form.login.value|default:'' }}">
                                            {% if form.login.errors %}
                                            <div class="alert alert-warning mar-top-30">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <ul class="errorlist nonfield">
                                                    {{ form.login.errors }}
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="lc-pass">
                                            <label>Пароль<i class="fa fa-key"></i></label>
                                            <input type="password" placeholder="Пароль" name="password" id="pass" value="{{ form.password.value|default:'' }}">
                                            {% if form.password.errors %}
                                            <div class="alert alert-warning mar-top-30">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <ul class="errorlist nonfield">
                                                    {{ form.password.errors }}
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <!-- Вывод остальных ошибок -->
                                        {% if form.non_field_errors %}
                                            <div class="alert alert-warning">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <ul class="errorlist nonfield">
                                                    {{ form.non_field_errors }}
                                                </ul>
                                            </div>
                                        {% endif %}

                                        {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                        {% endif %}

                                        <div class="lc-login-remember-forgot">
                                            <div class="lc-login">
                                                <input class="hover-bs" type="submit" value="{% trans "Sign In" %}">
                                            </div>
                                            <div class="lc-remember">
                                                <input type="checkbox" name="remember" id="id_remember">
                                                <label>запомнить меня</label>
                                            </div>
                                            <div class="lc-forgot">
                                                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                            </div>
                                        </div>
{#                                        <div class="lc-social">#}
{#                                            <ul>#}
{#                                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>#}
{#                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
{#                                                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>#}
{#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                            </ul>#}
{#                                            <p>Вход через социальную сеть</p>#}
{#                                        </div>#}
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="lc-create-account">
                            <h4>{% blocktrans %}НЕТ АККАУНТА?  <a href="{{ signup_url }}">ЗАРЕГИСТРИРУЙТЕСЬ</a>{% endblocktrans %}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}