{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class="login-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="forgot-password">
                        <h2 class="fp-title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-xs-12">
                                <div class="user-information-content">

                                    {% if token_fail %}
                                        {% url 'account_reset_password' as passwd_reset_url %}
                                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                                    {% else %}
                                        {% if form %}
                                        <form method="POST" id="signup_form" action="{{ action_url }}">
                                            {% csrf_token %}
                                        <div class="uic-password">
                                            <label>Пароль<i class="fa fa-key"></i></label>
                                            <input class="type_password" type="password" placeholder="Пароль" name="password1" id="password1" value="{{ form.password1.value|default:'' }}">
                                                {% if form.password1.errors %}
                                                <div class="alert alert-warning mar-top-30">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <ul class="errorlist nonfield">
                                                        {{ form.password1.errors }}
                                                    </ul>
                                                </div>
                                                {% endif %}
                                        </div>
                                        <div class="uic-password mar-top-30">
                                            <label>Пароль<i class="fa fa-key"></i></label>
                                            <input class="type_password" type="password" placeholder="Пароль (ещё раз)" name="password2" id="password2" value="{{ form.password2.value|default:'' }}">
                                                {% if form.password2.errors %}
                                                <div class="alert alert-warning mar-top-30">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <ul class="errorlist nonfield">
                                                        {{ form.password2.errors }}
                                                    </ul>
                                                </div>
                                                {% endif %}
                                        </div>
                                            <!-- Вывод остальных ошибок -->
                                            {% if form.non_field_errors %}
                                                <div class="alert alert-warning">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <ul class="errorlist nonfield">
                                                        {{ form.non_field_errors }}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            <div class="lc-login-remember-forgot mar-top-30">
                                                <div class="pic-submit">
                                                    <input class="hover-bs" type="submit" name="action" value="{% trans 'change password' %}">
                                                </div>
                                            </div>
                                        </form>
                                        {% else %}
                                            <p>{% trans 'Your password is now changed.' %}</p>
                                        {% endif %}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
