{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="login-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="forgot-password">
                        <h2 class="fp-title">{% trans "Change Password" %}</h2>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-xs-12">
                                <div class="user-information-content">
                                    <form method="POST" id="signup_form" action="{% url 'account_change_password' %}">
                                        {% csrf_token %}
                                    <div class="uic-password">
                                        <label>Пароль<i class="fa fa-key"></i></label>
                                        <input class="type_password" type="password" placeholder="Пароль" name="password1" id="password1" value="{{ form.password1.value|default:'' }}">
                                            {% if form.password1.errors %}
                                            <div class="alert alert-warning mar-top-30">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <ul class="errorlist nonfield">
                                                    {{ form.password1.errors }}
                                                </ul>
                                            </div>
                                            {% endif %}
                                    </div>
                                    <div class="uic-password mar-top-30">
                                        <label>Пароль<i class="fa fa-key"></i></label>
                                        <input class="type_password" type="password" placeholder="Пароль (ещё раз)" name="password2" id="password2" value="{{ form.password2.value|default:'' }}">
                                            {% if form.password2.errors %}
                                            <div class="alert alert-warning mar-top-30">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <ul class="errorlist nonfield">
                                                    {{ form.password2.errors }}
                                                </ul>
                                            </div>
                                            {% endif %}
                                    </div>
                                        <!-- Вывод остальных ошибок -->
                                        {% if form.non_field_errors %}
                                            <div class="alert alert-warning">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <ul class="errorlist nonfield">
                                                    {{ form.non_field_errors }}
                                                </ul>
                                            </div>
                                        {% endif %}

                                        {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                        {% endif %}

                                        <div class="lc-login-remember-forgot mar-top-30">
                                            <div class="pic-submit">
                                                <input class="hover-bs" type="submit" value="{% trans "Change Password" %}">
                                            </div>
                                        </div>
{#                                        <div class="lc-social">#}
{#                                            <ul>#}
{#                                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>#}
{#                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
{#                                                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>#}
{#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                            </ul>#}
{#                                            <p>Вход через социальную сеть</p>#}
{#                                        </div>#}
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="lc-create-account">
                            <h4><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
