{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

        <!-- forgot-password-area-start -->
    <div class="forgot-password-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="forgot-password">
                        <h2 class="fp-title">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</h2>
                        {% if user.is_authenticated %}
                        <div class="row">
                            <div class="col-md-3 col-md-offset-2 col-sm-5 col-xs-12">
                                <div class="fp-left">
                                {% include "account/snippets/already_logged_in.html" %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- forgot-password-area-end -->

{% endblock %}
