{% extends 'chess/base.html' %}
{% block title %} {{ article.title }} {% endblock %}
{% load static %}
{% block content %}
        <!--three column section start-->
    <div class="three-clm-section mar-top-80" style="padding-top: 0px;">
        <div class="container">
            <div class="col-md-8 col-sm-12">
        <div class="latest-blog">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="blog-img">
                    <div class="row">
                        <img src="{{ article.img.url }}" alt="blog thumbnail" style="padding-right: 20px;">
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="blog-info">
                    <div class="row">
                        <div class="th-info-area">
                            <h1><a href="#">{{ article.title }}</a></h1>
                            <p>{{ article.full_text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="most-populer-second">
                <h1 class="bdr-top-title">ПОЛЕЗНО</h1>
                    {% for article in articles_list %}
                    <!-- выводим статьи из БД -->
                                <div class="populer-item">
                                    <h2><a href="/blog-details.php/{{ article.slug }}">{{ article.title }}</a></h2>
                                    <p class="p-t-cat">{{ article.intro_text }}</p>
                                    <p><b>Автор статьи: </b>{{ article.title }}</p>
                                </div>
                    <!-- конец выводим статьи из БД -->
                    {% endfor %}
                    <div class="newsletter-section">
                        <h1 class="bdr-top-title">Шахматы онлайн</h1>
                        <p>Занятия с профессиональным тренером</p>
                        <div class="banner-ad">
                            <a href="personal-training.php"><img src="{% static 'img/banner/banner.jpg' %}" alt="button" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}



<!-- Выводим статьи -->
<div class="container">
    <div class="row">
        <div class="latest-blog">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="blog-img">
                    <div class="row">
                        <img src="{{ article.img.url }}" alt="blog thumbnail" style="padding-right: 20px;">
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="blog-info">
                    <div class="row">
                        <div class="th-info-area">
                            <h1><a href="blog-details.php?id=168">{{ article.title }}</a></h1>
                            <p>{{ article.full_text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>