{% extends 'chess/base.html' %}
{% block title %} {{ articles.title }} {% endblock %}
{% load static %}
{% block content %}
        <!--three column section start-->
    <div class="three-clm-section mar-top-80" style="padding-top: 0px;">
        <div class="container">
            <div class="col-md-8 col-sm-12">
        <div class="latest-blog">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="blog-img">
                    <div class="row">
                        <img src="{{ articles.img.url }}" alt="blog thumbnail" style="padding-right: 20px;">
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="blog-info">
                    <div class="row">
                        <div class="th-info-area">
                            <h1><a href="#">{{ articles.title }}</a></h1>
                            <p>{{ articles.full_text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
{% include 'include/sidebar.html' %}
        </div>
{% endblock content %}
