{% extends 'chess/base.html' %}
{% load static %}
{% block content %}
        <!--three column section start-->
<div class="container">
    <div class="location">
        <img src="{% static 'img/gmap.png' %}" alt="" class="gmap">
  <!-- <div class="location-text">
            <h1>Yarsanych.com</h1>
            <p>Ша́хматы — настольная логическая игра со специальными фигурами на 64-клеточной доске для двух соперников, сочетающая в себе элементы искусства (в том числе в части шахматной композиции), науки и спорта.</p>
        </div> -->
    </div>
</div>
    <div class="three-clm-section" style="padding-top: 0px;">
        <div class="container">
            <div class="col-md-8 col-sm-12">
                <div class="blog-post-details">
                    <div class="post-details">
                        {% for article in articles_list %}
                        <h1 class="blog-title">{{ article.title }}</h1>
                        <div class="social-link">
                            <h1>{{ article.full_text }}</h1>
                        </div>
                        <img src="" alt="" class="blog-image">
                        <p class="blog-desc" style=" text-align:justify; ">{{ article.contact_text }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
{% include 'include/sidebar.html' %}
        </div>
    </div>
{% endblock content %}