{% extends 'chess/base.html' %}
{% block title %} Персональные тренировки по шахматам Yarsanych.com {% endblock %}
{% block content %}
<div class="event-details-area mar-bot-50">
        <div class="container">
            <div class="col-md-8  col-sm-7 col-xs-12">
                <div class="event-details">
                    {% for article in articles_list %}
                    <h1 class="event-title">{{ article.title }}</h1>
                    <p class="event-date">{{ article.full_text }}</p>
                    <div class="event mar-top-30">
                        <img src="#" alt="" class="blog-image"><br>
                        <h3 class="evnt-desc"></h3>
                        <p class="evnt-desc">{{ article.contact_text }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-12">
                <div class="row">
                    <div class="event-ticket-area">
                        <div class="event-ticket mar-top-30">
                            <h5>Отправить запрос</h5>
                            <p>Заполните форму, чтобы получить более подробную информацию и цены</p>
                            <div class="enq-form">
                                <form action="">
                                    <input type="text" name="name" id="name" placeholder="ФИО">
                                    <input type="text" name="contact" id="contact" placeholder="Контактный телефон">
                                    <textarea name="msg" id="msg" placeholder="Дополнительное сообщение"></textarea>
                                    <div class="submit-en">
                                        <div class="alert alert-danger" id="trening_errorBlock" style="display: none"></div>
                                        <button class="register-btn hover-bs" type="button" id="trening_btn" style="margin-top: 15px;">Отправить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}