{% extends 'chess/base.html' %}
{% block title %} Шахматные видео Yarsanych.com {% endblock %}
{% block content %}
<div class="event-section">
    <div class="container">
        <div class="col-md-3 col-sm-3">
            <div class="evnt-left">
                <div class="location-cat">
                    <h1>Сортировка</h1>
                    <div class="cat-list">
                        <a id="sort-asc">Цена возрастание</a>
                        <a id="sort-desc">Цена убывание</a>
                        <button id="sort-asc" style="display: none">Цена возрастание</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9  col-sm-9">
            <div class="evnt-right">
                <div class="row">
                    <div class="event-area">
                        <h1>Видео</h1>
{% for article in videos_list %}
<!-- выводим файл из БД -->
<div class="event-item" data-price="{{ article.price }}">
                <div class="col-md-3">
                    <div class="item-img ">
                        <img src="{{ article.img.url }}" alt="thumbnail">
                            <a href="https://cloud.mail.ru/public/2cWF/Nr2pbkcjV"><i></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <h1>{{ article.title }}</h1>
                        <p class="desc">{{ article.description }}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="quick-buy row">
                        <h1>₽ {{ article.price }}.00</h1>
                        <div class="buy-ticket">
                        <a href="#test-modal" class="popup-modal buy">Скачать</a>
                        </div>
                    </div>
                </div>
            </div>
<!-- конец выводим файл из БД -->
{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}