{% load static %}
<!-- preloader -->
<div id="preloader"></div>
<!-- header-start -->
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="header-top-left">
                        <ul>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="header-top-right">
                        {% if user.is_authenticated %}
                        <div class="single-htr">
                            <a class='popup-modal'>Вы авторизованы на сайте </a>
                            <i class="fa fa-key"></i>
                            <a href="{% url 'account_logout' %}" class='popup-modal'>Выход</a>
                        </div>
                        {% else %}
                        <div class="single-htr">
                            <i class="fa fa-key"></i>
                            <a href="{% url 'account_login' %}" class='popup-modal'>Войти</a>
                        </div>
                        <div class="single-htr">
                            <i class="fa fa-user-times"></i>
                            <a href="{% url 'account_signup' %}" class='popup-modal'><span>Регистрация</span></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-area hidden-sm hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="logo">
                        <a href="{% url 'index_url' %}"><img src="{% static 'img/logo.png' %}" alt="" style="width: 40px;"></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="menu">
                        <nav>
                            <ul>
                                <li><a href="{% url 'index_url' %}">ГЛАВНАЯ</a></li>
                                <li><a href="{% url 'treners_url' %}">ТРЕНЕРЫ</a></li>
                                <li><a href="{% url 'prsonal_trening_url' %}">ОНЛАЙН ЗАНЯТИЯ</a></li>
                                <li><a href="{% url 'videos_url' %}">ВИДЕОУРОКИ</a></li>
                                <li><a href="{% url 'files_url' %}">ФАЙЛЫ</a></li>
                                <li><a href="{% url 'articles_list_url' %}">НОВОСТИ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="top-search">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu-area visible-xs visible-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile_menu">
                        <nav id="mobile_menu_active">
                            <ul>
                                <li><a href="{% url 'index_url' %}">ГЛАВНАЯ</a></li>
                                <li><a href="{% url 'treners_url' %}">ТРЕНЕРЫ</a></li>
                                <li><a href="{% url 'prsonal_trening_url' %}">ОНЛАЙН ЗАНЯТИЯ</a></li>
                                <li><a href="{% url 'videos_url' %}">ВИДЕОУРОКИ</a></li>
                                <li><a href="{% url 'files_url' %}">ФАЙЛЫ</a></li>
                                <li><a href="{% url 'articles_list_url' %}">НОВОСТИ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->
